name: .NET Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '10.0.x'

    - name: Restore dependencies
      run: dotnet restore
      working-directory: ./testcases

    - name: Build
      run: dotnet build --no-restore
      working-directory: ./testcases

    - name: Test
      run: dotnet test --no-build --verbosity normal
      working-directory: ./testcases
